{% extends 'layout.njk' %}
{% block content %}
    <div>
        chat
    </div>
    
{% endblock %}

{% block style %}
    <link rel='stylesheet', href=''>
{% endblock %}

{% block script %}
    <script src=""></script>
{% endblock %}