{% extends 'layout.njk' %}
{% block content %}
    <div class="chat-container">
        <div class="chat-header">
            {{ nickName }}
        </div>

        {# 聊天主体 #}
        <div class="chat-content">
            {% for item in contents %}

                <div class='chat-content-detail clearFix'>

                    <div class="chat-detail-left">

                        <img src='{{ item.avatar }}' class="chat-avatar">
                        <div class="chat-name">{{ item.nickName}}</div>

                    </div>

                    <div class="chat-detail-right">
                        {{ item.content}}
                    </div>

                </div>

                <div style="clear:both"></div>

                <div class="chat-time">
                    {{ item.createdAt | formatTime}}
                </div>

                {% endfor%}
                
                
            </div>

            <div class='warning'></div>
            {# 聊天输入框 #}
            <div class="chat-input-container">
                <i class="fa fa-smile-o fa-2x chat-input-smile"></i>
                <input class="chat-input" placeholder="输入聊天内容。。。" value="">
            </div>
        </div>
    {% endblock %}

    {% block style %}
        <link rel='stylesheet' href='/css/chat.css'>
    {% endblock %}

    {% block script %}
        <script src="/js/chat.js"></script>
    {% endblock %}